AZ-104/Compute_Resources/sensitive/mount-container-fileshare.yml
AZ-104/Compute_Resources/sensitive/*
Datadog/Python_Logging/*
Terraform_clones/
Terraform-03/github.tf
Terraform-03/datatypes/.terraform.lock.hcl
Terraform-03/datatypes/.terraform
Terraform-03/datatypes/terraform.tfstate*
Terraform-03/.terraform*
Terraform-03/.terraform.lock.hcl
Terraform-03/terraform.tfstate*
Terraform-03/dynamic-block/terraform.tfstate*
Terraform-03/dynamic-block/.terraform.lock.hcl
Terraform-03/dynamic-block/.terraform
Terraform-03/Lifecycle_Dep/.terraform*
Terraform-03/Lifecycle_Dep/terraform.tfstate*
Terraform-03/Provisioners/.terraform*
Terraform-03/Provisioners/terraform.tfstate*
Terraform-03/Modules_WorkSpace/Module_team/.terraform*
Terraform-03/Modules_WorkSpace/Module_team/terraform.tfstate*
Terraform-03/Modules_WorkSpace/Module_team/A
Terraform-03/Modules_WorkSpace/Module_team/B
Terraform-03/Modules_WorkSpace/Workspace/terraform.tfstate*
Terraform-03/Modules_WorkSpace/Workspace/.terraform*
Terraform-03/BackEnd/Datasource/Security_Team/.terraform*
Terraform-03/BackEnd/Datasource/Security_Team/terraform.tfstate*
Terraform-03/BackEnd/Datasource/Networking_Team/.terraform*
Terraform-03/Import/.terraform*
Terraform-03/Import/terraform.tfstate*
Terraform-03/Security_Primer/Sensitive/terraform.tfstate*
Terraform-03/Security_Primer/Sensitive/.terraform*
Terraform-03/dynamic-block/jsonvars/.terraform*
Terraform-03/dynamic-block/jsonvars/terraform.tfstate*
Terraform-03/Challenges/3/.terraform*
Terraform-03/Challenges/3/terraform.tfstate*
Terraform-03/Challenges/2/terraform.tfstate*
Terraform-03/Challenges/2/.terraform*
Terraform-03/Challenges/1/.terraform*
Terraform-03/Challenges/1/terraform.tfstate*
Terraform-03/Challenges/4/terraform.tfstate*
Terraform-03/Challenges/4/.terraform*
Terraform-03/terraform.tfstate*
Terraform-03/dynamic-block/jsonvars/.terraform*
Terraform-03/dynamic-block/jsonvars/terraform.tfstate*
Terraform-03/Challenges/.terraform*
